.container {
  padding: 0;
  margin: 0;
  display: flex;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  list-style-type: none;
  cursor: pointer;
}

.pageItem {
  opacity: 0.8;
  padding: 3px;
  margin: 3px;
  transition: all 0.1s ease;
  cursor: pointer;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  /* border-radius: 5px; */
  /* border: 1.25px solid black; */
}
.pageItem:hover,
.pageItem:focus,
.pageItem:active {
  font-weight: bolder;
  /* border: 1.25px solid black; */
  opacity: 1;
}

.currentPage {
  font-weight: bolder;
  opacity: 1;
}
